body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

.navbar{
  width: var(--container-width);
  border-radius: 20px;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  margin: 30px auto;
}

.list {
  list-style: none;
  padding: 0;
}

.navbar .list {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  gap: 15px;
}

.nav-item {
  text-decoration: none;
}

.nav-item:hover {
  color: var(--tertiary-color);
}

.social-media {
  gap: 5px;
}

.social-media i {
  border-radius: var(--border-radius);
  padding: 8px;
}

.header-logo {
  height: 50px;
}

.section-short {
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: bold;
}

.section-short.sp {
  background: -webkit-linear-gradient(#199CB6, var(--tertiary-color));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section-title {
  font-size: var(--title-font-size);
}

.section-title .sp {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 1px var(--tertiary-color);
}

.section-desc,
.plan-title,
.feature-item {
  font-weight: 100;
  font-size: var(--main-font-size);
  line-height: 1.5;
  margin: 30px 0px;
  max-width: calc(var(--container-width)*0.7);
}

.small-text,
.card-desc,
.copyright {
  font-size: var(--small-font-size);
}

.blue-text {
  color: #199CB6;
}

section {
  padding: 60px 30px;
}

.hero {
  display: flex;
  align-items: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(61, 61, 107, 0.9)), url("Images/image\ 2.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.shopify-img {
  height: 550px;
  width: 550px;
}

#popup-content {
  width: fit-content;
  margin: auto;
}

.stats-section {
  padding: 10px 50px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.stat .number {
  font-weight: bold;
  font-size: var(--title-font-size);
}

.stat .label {
  margin-top: -50px;
}

.portfolio-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

swiper-slide {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: var(--border-radius);
  height: 480px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  min-width: 300px;
  text-align: left;
  transition: transform 0.3s ease;
  position: relative;
}
.card-title {
  font-size: var(--main-font-size);
}
.web-crafts-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.web-crafts-card {
  border-radius: var(--border-radius);
  margin: 20px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.05), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px 30px;
  position: relative;
}
.web-crafts-card:hover {
  transform: scale(1.01);
}
.web-crafts-card img {
  height: 50px;
  width: 50px;
}
.web-crafts-card.left-side img {
  position: absolute;
  right: -7%;
  top: 32%;
}
.web-crafts-card.right-side img {
  position: absolute;
  left: -7%;
  top: 32%;
}
.left-side.center {
  position: relative;
  right: 30px;}

.right-side.center {
  position: relative;
  left: 30px;
}
.card:hover {
  transform: scale(1.01);
}
.card .btn {
  position: absolute;
  bottom: 12px;
}
.plan-duration {
  font-size: var(--main-font-size);
  color: #CACACA;
}

.plan-price {
  font-size: 30px;
}

footer {
  background-color: #25254D;
}

.contact-item {
  font-size: var(--main-font-size);
  padding: 10px;
  border-radius: 20px;
  min-width: 300px;
  display: flex;
  gap: 15px;
}

.contact-icon img {
  width: 25px;
}

.contact-title {
  margin: 0;
  font-weight: bold;
  text-align: start;
}

.col-center {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center .section-desc {
  margin: 10px auto;
}

.horizontal-line {
  border: none;
  border-top: 0.1px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  margin: 30px auto;
  opacity: 0.5;
}

.vertical-line {
  width: 1px;
  height: 100px;
  background-color: #ccc;
  margin-top: 50px;
}