
body {
  margin: 0;
  padding: 0;
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-menu {
  border-radius: 20px;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 15px;
}

.header-logo {
  height: 50px;
}

.list-menu-item {
  text-decoration: none;
  font-family: var(--main-font);
}

.list-menu-item:hover {
  color: var(--tertiary-color);
}

.social-media i {
  border-radius: 20px;
  padding: 8px;
}

.section-short {
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: bold;
}

.section-title {
  font-family: var(--main-font);
  font-size: var(--title-font-size);
}

.section-desc,
.plan-title,
.feature-item {
  font-family: var(--main-font);
  font-weight: 100;
  font-size: var(--main-font-size);
  line-height: 1.5;
}

.section-short.sp {
  background: -webkit-linear-gradient(#199CB6, var(--tertiary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title .sp {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 1px var(--tertiary-color);
}

.blue-text{
  color: #199CB6;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(61, 61, 107, 0.9)), url("Images/image\ 2.png");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

section {
  padding: 60px 30px;
}

.plan-price {
  font-family: var(--main-font);
  font-size: 30px;
}

.shopify-img {
  height: 550px;
  width: 550px;
}

 #popup-content {
  width: fit-content;
  margin: auto;
}

.stats-section{
  padding: 10px 50px;
}
.stat {
  flex: 1 1 auto;
  text-align: center;
  padding: 0;
  margin: 0;
}
.stat .number {
  font-weight: bold;
  font-size: var(--title-font-size);
}

.stat .label {
  margin-top: -50px;
}

swiper-container {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: var(--main-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

swiper-slide img {
  width: 100%;
}

.card {
  border-radius: var(--border-radius);
  height: 380px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  min-width: 300px;
  text-align: left;
  transition: transform 0.3s ease;
  position: relative;
}

.web-crafts-card {
  border-radius: var(--border-radius);
  margin: 20px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.05),inset 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px 30px;
  position: relative;
}

.web-crafts-card img{
  height: 50px;
  width: 50px;
}
.web-crafts-card.left-side img
{
  position: absolute;
  right: -7%;
  top: 32%;
}

.web-crafts-card.right-side img{
  position: absolute;
  left: -7%;
  top: 32%;
}

.card:hover {
  transform: scale(1.01);
}

.plan-duration {
  font-size: var(--main-font-size);
  color: #CACACA;
}

.plan-features {
  list-style: none;
  padding: 0;
}

.card .btn {
  position: absolute;
  bottom: 12px;
}

footer {
  background-color: #25254D;
}

.contact-item {
  font-size: var(--main-font-size);
  padding: 10px;
  border-radius: 20px;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.contact-icon img {
  width: 25px;
}

.contact-item p {
  margin: 0;
  font-weight: bold;
}

.copyright {
  margin-top: 20px;
  font-size: var(--main-font-size);
}

.webcrafts-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-center {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  border: none;
    border-top: 0.1px solid rgba(255, 255, 255, 0.2);
    width: 80%;
    margin: 30px auto;
    opacity: 0.5;
}

.vertical-line {
  width: 1px;
  height: 50px;
  background-color: #ccc;
  align-self: center;
}

.btn-container{
  display: flex;
    justify-content: center;
    align-items: flex-start;
}