body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  box-sizing: border-box;
  line-height: 1.5;
}
img{
  display: block;
  max-width: 100%;
}
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-dark {
  background-color: var(--dark-primary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-muted {
  color: var(--muted-color);
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


.small-text {
  font-size: var(--small-font-size);
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: var(--rounded-radius);
  margin: 20px 0;
  font-size: var(--small-font-size);
}

.rounded {
  border-radius: var(--rounded-radius);
}

.circle {
  border-radius: var(--circle-radius);
  padding: 10px;
}

.btn-outline-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: var(--light-color) solid 0.5px;
}

.btn-outline-light {
  background-color: var(--light-color);
  color: var(--primary-color);
  border: var(--primary-color) solid 0.5px;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

/* hover */
.btn-outline-primary:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
  border: var(--primary-color) solid 0.5px;
}

.btn-outline-light:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: var(--light-color) solid 0.5px;
}

.btn-secondary:hover {
  background-color: var(--light-color);
  color: var(--secondary-color);
}
