.navbar {
  width: var(--container-width);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  z-index: 10;
  margin: 30px auto;
  max-width: 100%;
}

.list {
  list-style: none;
  padding: 0;
}

.list a {
  text-decoration: none;
}

.navbar .list {
  display: flex;
  flex-wrap: wrap;
}

.main-menu {
  gap: 25px;
}

.main-menu-item:hover {
  color: var(--secondary-color);
}

.social-media {
  gap: 5px;
}

.header-logo {
  height: 45px;
}

.section-short {
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: bold;
}

.section-short.sp {
  background: -webkit-linear-gradient(var(--tertiary-color), var(--secondary-color));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section-short::before,
.section-short::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: currentColor;
  border-radius: var(--circle-radius);
  margin: 0px 5px;
}

.section-title {
  font-size: var(--title-font-size);
}

.section-title .sp {
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke: 1px var(--secondary-color);
}

.section-desc,
.plan-title,
.feature-item {
  font-weight: 100;
  font-size: var(--main-font-size);
  margin: 30px 0px;
  max-width: calc(var(--container-width)*0.7);
}

.copyright,
.contact-data,
.web-crafts-card-desc {
  font-family: var(--sub-font);
}

section {
  padding: 60px 30px;
}

.hero {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(61, 61, 107, 0.9)), url("/MainPage/Images/image\ 2.png");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.shopify-img {
  aspect-ratio: 0.78/1;
  object-fit: contain;
  position: relative;
}

.link-img {
  position: absolute;
  top: 60%;
  left: 40%;
}

#popup-content {
  width: fit-content;
  margin: auto;
}

.stats-section {
  display: flex;
  justify-content: space-around;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat .number {
  font-weight: bold;
  font-size: var(--title-font-size);
}

.stat .label {
  margin-top: -50px;
}

.portfolio-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

swiper-slide {
  display: flex;
  flex-direction: column;
}

.plan-card {
  height: 480px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  min-width: 300px;
  transition: transform 0.3s ease;
  position: relative;
}

.web-crafts-card-title {
  font-size: var(--main-font-size);
  font-family: var(--title-font);
  font-weight: 900;
}

.web-crafts-card {
  margin: 20px auto;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.05), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  position: relative;
}

.web-crafts-card:hover,
.plan-card:hover,
.contact-card:hover {
  transform: scale(1.01);
}

.web-crafts-card-img {
  display: flex;
  width: fit-content;
  position: absolute;
  top: 30%;
}
.right-side .web-crafts-card-img {
  left: -8%;
}

.left-side .web-crafts-card-img {
  right: -8%;
}

.left-side.center {
  right: 30px;
}

.right-side.center {
  left: 30px;
}

.plan-card .btn {
  position: absolute;
  bottom: 12px;
}

.plan-duration {
  font-size: var(--main-font-size);
}

.plan-price,
.slide-title {
  font-size: var(--subtitle-font-size);
}

.contact-card {
  font-size: var(--main-font-size);
  padding: 10px;
  min-width: 300px;
  display: flex;
  gap: 15px;
  text-align: start;
}

.contact-icon img {
  width: 30px;
}

.contact-title {
  margin: 0;
  font-weight: bold;
}

.col-center {
  position: relative;
  top: 20%;
}

.text-center .section-desc {
  margin: 10px auto;
}

.horizontal-line {
  border: none;
  border-top: 0.01px solid rgba(255, 255, 255, 0.2);
  margin: 30px auto;
  opacity: 0.5;
}

.vertical-line {
  width: 1px;
  height: 100px;
  background-color: #ccc;
  margin-top: 50px;
}

.fa-brands:hover{
  color: var(--primary-color);
  background-color: var(--light-color);
}